.video__note-list {
    position: relative;
    height: 100%;
}

.video__note {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video__note-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #F6F6F6;
    border: solid 4px rgba(43, 152, 253, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-sizing: content-box;
    cursor: pointer;
}

video {
    border-radius: 12px;
    box-sizing: content-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

iframe {
    border-radius: 12px;
    box-sizing: content-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.video__note-captions {
    overflow-y: scroll;
    margin-top: 8px;
    padding: 0 12px 8px 12px;
    color: #555;
    font-size: 14px;
    cursor: pointer;
}

.video__note-timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 16px;
    border-radius: 7px;
    margin-bottom: 8px;
    position: relative;
    background-color: #33333399;
}

.video__note-timeline-block {
    background-color: #eee;
    height: 12px;
    cursor: pointer;
    font-size: 16px;
    color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: height 0.1s;
    position: absolute;
    &:hover {
        height: 20px;
    }
}

.video__note-supercontainer {
    display: flex;
    flex-direction: row;
}

.video__note-navigator {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;
}

.video__note-navigator-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.video__note-navigator-link {
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 4px 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 16px;
    cursor: pointer;
    width: 50%;
}

.video__note-timestamp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 8px;
    border-radius: 8px 0 8px 0;
    color: #fff;
    font-size: 14px;
}

.player {
    position: absolute;
    top: 0;
    left: 0;
}

.video__note-popup {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
}

.video__note-popup .video__note-timeline-block {
    background-color: #555;
}

.video__note-chevron-left {
    color: #333;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    left: 8px;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    z-index: 10;
    &:hover {
        color: #f6f6f6;
        background-color: #999;
    }
}

.video__note-chevron-right {
    color: #333;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    right: 8px;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    z-index: 10;
    &:hover {
        color: #f6f6f6;
        background-color: #999;
    }
}

// .video__segmenter-container {}

.video__segmenter-container-inner {
    height: 100vh;
    position: absolute;
    top: 0;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 32px;
}

.video__segmenter-transcript {
    width: 100%;
    height: 300px;
    padding: 16px 16px;
    background-color: #f6f6f6;
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.video__segmenter-transcript-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 2px 8px;
    cursor: pointer;
    &:hover {
        background-color: #ddd;
    }
}

.video__segmenter-transcript-container-selected {
    background-color: #1890ff1A;
    &:hover {
        background-color: #1890ff4D;
    }
}

.video__segmenter-transcript-container-used {
    background-color: #fff;
    opacity: 0.5;
    &:hover {
        background-color: #fff;
    }
}

.video__segmenter-transcript-text {
    flex: 1;
    color: #555;
}

.video__segmenter-transcript-timestamp {
    color: #999;
    font-weight: bold;
}

.video__segmenter-timeline {
    width: 100%;
    position: relative;
    cursor: pointer;
    height: 64px;
    margin-bottom: 8px;
    background-color: #ccc;
    overflow: scroll;
}

.video__segmenter-timeline-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 8px;
}

.video__segmenter-timeline-label {
    margin-top: 8px;
    color: #999;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.video__segmenter-timeline-label b {
    color: #555;
}

.video__segmenter-timeline-block {
    background-color: #eee;
    height: 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: height 0.1s;
    border-radius: 3px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &:hover {
        height: 24px;
    }
}

.video__segmenter-thumb-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.video__segmenter-thumb-left-container {
    padding-left: 8px;
    background-color: transparent;
    flex: 0;
    margin-left: -12px;
    cursor: pointer;
}
.video__segmenter-thumb-right-container {
    padding-right: 8px;
    background-color: transparent;
    flex: 0;
    margin-right: -12px;
    cursor: pointer;
}
.video__segmenter-thumb {
    height: 36px;
    width: 8px;
    background-color: #1890ff;
    border: solid 1px #ffffff66;
    border-radius: 3px;
}

.video__segmenter-timeline-zoom {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-size: 24px;
    color: #1890ff;
    align-items: center;
}


.video__segmenter-timeline-tick {
    height: 100%;
    width: 1px;
    background-color: #aaa;
    position: absolute;
}

.video__segmenter-timeline-tick-major {
    height: 100%;
    width: 1px;
    background-color: #999;
    position: absolute;
}

.video__segmenter-timeline-tick-label {
    color: #999;
    font-size: 8px;
    position: absolute;
    top: 2px;
}