.video__note-list {
    height: 100%;
    width: 500px;
}

.video__note {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video__note-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #fff;
    border: solid 4px rgba(43, 152, 253, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-sizing: content-box;
}

iframe {
    border-radius: 12px;
    box-sizing: content-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.video__note-captions {
    overflow-y: scroll;
    margin-top: 8px;
    padding: 0 8px;
}